@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar";
@plugin "daisyui" {
  themes: fantasy --default, dracula --prefersdark;
  prefix: "du-";
  logs: true;
}

body {
  font-family: "Fira Sans", -apple-system, ui-sans-serif, "Ubuntu", Roboto, sans-serif;
}

html,
body,
div,
textarea,
ul,
input {
  @apply scrollbar-thin;
}

.btn-icon {
  @apply du-btn du-btn-ghost du-btn-circle size-6 min-h-0 min-w-0;
}
